<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	<a href="http://localhost:3000/home/profil">Go your profil	</a>
	<div class="div_enter_data">
		<form action="/deconnexion" method="post">
		    <div class="button">
		        <button type="submit">Deconnexion</button>
		    </div>
		</form>
	</div>

	<div class="filtres">
		<h2>Filtres: </h2>
		<form class="form_filtres" method="post">
			<input type="text" name="nom">
  			<input id="filtres_bouton" value="appliquer" type="submit">
		</form>
	</div>
	<div class="suggestions">
		<% users.forEach(function(user){ %>
		<div class="user_suggestion">
			<p>
    			<%= user.nom %> - <%= user.prenom %> - <%= user.login %>
				<br>
				Age : <%= user.age %>
			</p>
			<h3><%= user.sex %> - <%= user.orientation %></h3>
			<a href='users/<%= user.login %>'>Go profil</a>
		</div>
  		<% }); %>
	</div>





  <div id="nickWrap">
    <p>Enter a username</p>
    <p id="nickError" ></p>
    <form id="setNick">
        <input size="35" id="nickname">
        <input type="submit">
    </form>
  </div>
  <div id="contentWrap">
    <div id="chatWrap">
      <div class="messagerie">
        <ul id="messages"></ul>
        <form id="mess" action="">
          <input type="text" name="msg" id="m" autocomplete="off" /><button id="but">Send</button>
        </form>
      </div>
      <div id="users"></div>
    </div>
  </div>









<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="http://localhost:3003/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){

  $(function () {
    var socket = io.connect('http://localhost:3003');

    $('#setNick').submit(function(e){
      e.preventDefault();
      socket.emit('new user', $('#nickname').val(), function(data){
         if (data) {
           $('#nickWrap').hide();
           $('#contentWrap').show();
         }
         else {
           $('#nickError').html('That username is already taken ! try again.');
         }
      });
      $('#nickname').val('');
    });

    socket.on('usernames', function(data){
      var html = '';
      for(i = 0;i < data.length; i++){
        html += data[i] + '<br/>';
      }
      $('#users').html(html);
    });

    $('#mess').submit(function(){
      socket.emit('chat message', $('#m').val());
      //$('#messages').append($('<li>').text($('#m').val()))
      $('#m').val('');
      return false;
    });

	socket.on('new message', function(data) {
		$('#messages').append("<li>" + data.nick  + ": " + data.msg + "</li>");
	});

  });







});
  </script>
	<script type="text/javascript">
	$('#filtres_bouton').click(function () {
			$.ajax({
			  type: 'post',
			  data: JSON.stringify({
					}),
			  contentType: 'application/json; charset=utf-8',
			  url: 'testajax',
			});
			//$(':input','#register_form').not(':button, :submit, :reset, :hidden')
			//.val('')
			//.removeAttr('checked')
			//.removeAttr('selected');
		});
	</script>
  </body>
</html>
