<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	<a href="http://localhost:3000/home/profil">Go your profil	</a>
	<div class="div_enter_data">
		<form action="/deconnexion" method="post">
		    <div class="button">
		        <button type="submit">Deconnexion</button>
		    </div>
		</form>
	</div>

	<div class="suggestions">
		<% users.forEach(function(user){ %>
		<div class="user_suggestion">
			<p>
    			<%= user.nom %> - <%= user.prenom %> - <%= user.login %>
			</p>
			<h3><%= user.sex %> - <%= user.orientation %></h3>
			<a href='users/<%= user.login %>'>Go profil</a>
		</div>
  		<% }); %>
	</div>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">

	</script>
  </body>
</html>
