<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	<a href="http://localhost:3000/home/profil">Go your profil	</a>
	<div class="div_enter_data">
		<form action="/deconnexion" method="post">
		    <div class="button">
		        <button type="submit">Deconnexion</button>
		    </div>
		</form>
	</div>

	<div class="filtres">
		<h2>Filtres: </h2>
		<form id="form_filtres" method="post">
			<input type="number" name="age_min">
      <input type="number" name="age_max">
  			<input id="filtres_bouton" value="appliquer" type="submit">
		</form>
	</div>
	<div class="suggestions">
		<% users.forEach(function(user){ %>
		<div class="user_suggestion">
			<p>
    			<%= user.nom %> - <%= user.prenom %> - <%= user.login %>
				<br>
				Age : <%= user.age %>
			</p>
			<h3><%= user.sex %> - <%= user.orientation %></h3>
			<a href='users/<%= user.login %>'>Go profil</a>
		</div>
  		<% }); %>
	</div>
	<div class="amis">
		<p>toto</p>
		<p>kneth</p>
	</div>




      <div id="users"></div>
	  <div id="allchat"></div>



<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="http://localhost:3003/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){

	  $(".friends").click(function() {
  		alert('bite');
  	 });
    $('#form_filtres').submit(function () {
      alert('foezfez');
      var userss = <%- JSON.stringify(users) %>
  			$.ajax({
  			  type: 'POST',
          dataType: 'json',
  			  data: JSON.stringify({
            userss: userss,
            age_min: $('#form_filtres input[name=age_min]').val(),
            age_max: $('#form_filtres input[name=age_max]').val()
  					}),
  			  contentType: 'application/json; charset=utf-8',
  			  url: '/home/filtres',
  			}).done (function (data) {
          $('.user_suggestion').remove();
          data.forEach(function(user){
            let div = document.createElement('div');
            div.setAttribute("class", "user_suggestion");
            //div.append("<p>" + user.nom + " - " + user.prenom + " - " + user.login +" <br> Age : " + user.age + "</p> <h3>" + user.sex + " - " + user.orientation + "</h3> <a href=users/"+user.login+">Go profil</a>");
          //  div.html  ("<h3>FLUTE</h3>")
          let test = `
          <div class="user_suggestion"><p> ${user.nom} -  ${user.prenom} - ${user.login} <br> Age : ${user.age} </p>
          <h3> ${user.sex} - ${user.orientation} </h3> <a href=users/${user.login}>Go profil</a></div>

          `;
            $('.suggestions').append(test);
            console.log(user);
          });
          console.log(data);
        });
  			// $(':input', '#form_filtres').not(':button, :submit, :reset, :hidden')
  			// .val('');
  			return false;
  		});

  $(function () {
    var socket = io.connect('http://localhost:3003');
	var user_name = <%- JSON.stringify(title) %>;

    //$('#setNick').submit(function(e){
     // e.preventDefault();
      socket.emit('new user', user_name, function(data){
         if (data) {
         //  $('#nickWrap').hide();
           $('#contentWrap').show();
         }
         else {
           $('#nickError').html('That username is already taken ! try again.');
         }
      });
     // $('#nickname').val('');
    //});

    socket.on('usernames', function(data){
      var html = '';
      for(i = 0;i < data.length; i++){
		  if (data[i] != user_name)
        	html += "<p class='friends'>" + data[i] + "</p><br/>";
      }
      $('#users').html(html);
	  $(".friends").click(function() {
		let desti = $(this)[0].innerText;
		if(document.getElementById(desti) == null)
		{
			let input = document.createElement('input');
			input.setAttribute("type", "text");

			let button = document.createElement('button');
			button.setAttribute("type", "submit");
			button.setAttribute("value", "send message");
			button.append("Send");

			let form = document.createElement('form');
			form.setAttribute("class", "form_mp");
			form.setAttribute("id", desti);
			form.appendChild(input);
			form.appendChild(button);

			let conv = document.createElement('div');

			let header = document.createElement('div');
			header.innerHTML += desti;

			let chat = document.createElement('div');
			chat.setAttribute("id", desti);
			chat.appendChild(header);
			chat.appendChild(conv);
			chat.appendChild(form);

			let allchat = document.getElementById("allchat");
			 //chat.style.backgroundColor = "white";
			 //chat.style.height = "300px";
			 //chat.style.width = "300px";
			allchat.style.border = "1px solid black";
			allchat.appendChild(chat);
			socket.emit('charge old messages', {desti: desti, autor: <%- JSON.stringify(title) %>}, function(){

			});
			socket.on('append old messages', async function(data){
          for(var el in data.elem[0].messages){
            $('#' + desti).append($('<li>').text(data.elem[0].messages[el].autor + ': ' + data.elem[0].messages[el].msg));
          }
		    });
			//}
			$('#' + desti).submit(function(){
				socket.emit('chat message', {desti: desti, msg: $(':input', '#' + desti).val()}, function(data){
					$('#messages').append("<span class='error'><li>" + data + "</li></span>");
				});
				$('#' + desti).append($('<li>').text(<%- JSON.stringify(title) %> + ': ' + $(':input', '#' + desti).val()))
				$(':input', '#' + desti).val('');
				return false;
			});
		}
  	});
    });

    // $('#mess').submit(function(){
    //   socket.emit('chat message', $('#m').val(), function(data){
	// 	  $('#messages').append("<span class='error'><li>" + data + "</li></span>");
	//   });
    //   //$('#messages').append($('<li>').text($('#m').val()))
    //   $('#m').val('');
    //   return false;
    // });




	/*socket.on('new message', function(data) {
		$('#messages').append("<span class='msg'><li>" + data.nick  + ": " + data.msg + "</li></span>");
	});*/

	socket.on('whisper', function(data) {
		// console.log(document.getElementById(data.nick));
		if(document.getElementById(data.nick) == null)
		{
			let desti = data.nick;

			let input = document.createElement('input');
			input.setAttribute("type", "text");

			let button = document.createElement('button');
			button.setAttribute("type", "submit");
			button.setAttribute("value", "send message");
			button.append("Send");

			let form = document.createElement('form');
			form.setAttribute("class", "form_mp");//
			form.setAttribute("id", data.nick);
			form.appendChild(input);
			form.appendChild(button);

			let conv = document.createElement('div');

			let header = document.createElement('div');
			header.innerHTML += desti;

			let chat = document.createElement('div');
			chat.setAttribute("id", desti);
			chat.appendChild(header);
			chat.appendChild(conv);
			chat.appendChild(form);

			let allchat = document.getElementById("allchat");
			 //chat.style.backgroundColor = "white";
			 //chat.style.height = "300px";
			 //chat.style.width = "300px";
			allchat.style.border = "1px solid black";
			allchat.appendChild(chat);
			$('#' + data.nick).submit(function(){
				socket.emit('chat message', {desti: desti, msg: $(':input', '#' + data.nick).val()}, function(data){
					$('#messages').append("<span class='error'><li>" + data + "</li></span>");
				});
				$('#' + data.nick).append($('<li>').text(<%- JSON.stringify(title) %> + ': ' + $(':input', '#' + data.nick).val()))
				$(':input', '#' + data.nick).val('');
				return false;
			});
		}
		$('#' + data.nick).append("<span class='whisper'><li>" + data.nick  + ": " + data.msg + "</li></span>");

	});




  });







});
  </script>

  </body>
</html>
