<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/stylesheets/style_user.css' />
		<title>Profil user</title>
	</head>
	<body>
		<%if (blok_user == false) {%>
			<h2>Profil of <%= user.login %></h2>
			<div class=".information_user">
				<p>Nom: <%= user.nom %></p>
				<p>Prenom: <%= user.prenom %></p>
				<p>Email: <%= user.email %></p>
				<p>Sex: <%= user.sex %></p>
				<p>Age: <%= user.age %> ans</p>
				<p>Score popularity: <%= user.score %></p>
				<% if (user.last_connexion != 'online'){%>
					<p>last_connexion: <%= user.last_connexion %></p>
				<% } else {%>
					<p>Status: <%= user.login %> is online</p>
				<% } %>
				<p>Orientation sexuelle: <%= user.orientation %></p>
				<p>Interets: <%= user.interets %></p>
				<p>Description: <%= user.bio %></p>
				<p>Photo de profil: <img src='http://localhost:3000/uploads/<%- user.picture_profil %>' /></p>
				<p>Photos: <% for(var i=0; i < user.photos.length; i++) {%>
						<% if (user.photos[i]) {%>
										 <img src='http://localhost:3000/uploads/<%- user.photos[i] %>' />
										 <% } %>
									 <% } %></p>
			</div>
			<% if (user.accept == 1) { %>
			<div id="map" style="width:400px;height:400px">My map will go here</div>
			<% } else {%>
			<div class="">
				 <p><%= user.login %>, ne souhaite pas afficher sa localisation</p>
			</div>
			<% } %>
			<% if (mes_photos) { %>
				<% if (is_like == false) {%>
					<div class="like">
						<a id="like_button" href="" >Je like <%= user.login %></a>
					</div>
				<% } else { %>
					<div class="dislike">
						<a id="dislike_button" href="" >Je dislike <%= user.login %></a>
					</div>
				<% } %>
			<% } else { %>
				<p> Vous devez avoir une photo de profil pour liker ou disliker un utilisateur </p>
			<% } %>
			<div class="blok">
				<a id="blok_button" href="" >Je blok <%= user.login %></a>
			</div>
			<%	if (signal == false){ %>
				<div class="signal">
					<a id="signal_button" href="" >Je signal <%= user.login %> comme faux compte</a>
					<p>Cette action est irreversible</p>
				</div>
			<% } else { %>
					<p>Vous avez signal ce user comme etant un faux compte</p>
				<% }%>
		<% } else {%>
			<h2>Profil of <%= user.login %></h2>
			<p><%= user.login %> est blok, si vous voulez acceder a ses informations il faut le deblok <a id="unblok_button" href="" >Je deblok <%= user.login %></a></p>
			<%	if (signal == false){ %>
				<div class="signal">
					<a id="signal_button" href="" >Je signal <%= user.login %> comme faux compte</a>
					<p>Cette action est irreversible</p>
				</div>
			<% } else { %>
					<p>Vous avez signal ce user comme etant un faux compte</p>
				<% }%>
		<% } %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYV5V1wefNwQQ_5ukp4SLtcqmrUh2Kp48"></script>
		<script src="http://localhost:3003/socket.io/socket.io.js"></script>
		<script type="text/javascript">
		var socket = io.connect('http://localhost:3003');


		socket.emit('new user', <%-JSON.stringify(me)%>, function(data){
			 if (data) {
			 //  $('#nickWrap').hide();
				 $('#contentWrap').show();
			 }
			 else {
				 $('#nickError').html('That username is already taken ! try again.');
			 }
		});

		if (<%= blok_user %> == false){
			socket.emit('visitProfil', {user_profil: <%-JSON.stringify(user.login)%>, visit_autor: <%-JSON.stringify(me)%>});
			console.log(socket)
		}
		if (<%= user.accept %> && <%= blok_user %> == false){
		initMap();
		}

		function initMap() {
  			var myLatLng = {lat: <%= user.latitude %>, lng: <%= user.longitude %>};
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 12,
			    center: myLatLng
			  });

			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
		  }

			$.ajax({
				type: 'post',
				data: JSON.stringify({
					user: <%-JSON.stringify(user.login)%>
				}),
				contentType: 'application/json; charset=utf-8',
				url: 'add_view_profil',
			});

		  $('#like_button').click(function () {
				$.ajax({
	      	type: 'post',
	        data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>,
						like_autor: <%-JSON.stringify(me)%>
					}),
	        contentType: 'application/json; charset=utf-8',
	        url: 'like',
	       });
				 socket.emit('likeUser', {user_like: <%-JSON.stringify(user.login)%>, like_autor: <%-JSON.stringify(me)%>});
	     });

			 $('#dislike_button').click(function () {
 				$.ajax({
 	      	type: 'post',
 	        data: JSON.stringify({
 						user: <%-JSON.stringify(user.login)%>,
						dislike_autor: <%-JSON.stringify(me)%>
 					}),
 	        contentType: 'application/json; charset=utf-8',
 	        url: 'dislike',
 	       });
				 socket.emit('dislikeUser', {user_dislike: <%-JSON.stringify(user.login)%>, dislike_autor: <%-JSON.stringify(me)%>});
 	     });

			$('#blok_button').click(function () {
				$.ajax({
					type: 'post',
				  data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>
					}),
				  contentType: 'application/json; charset=utf-8',
				  url: 'blok',
				});
			});

			$('#signal_button').click(function () {
				$.ajax({
					type: 'post',
				  data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>
					}),
				  contentType: 'application/json; charset=utf-8',
				  url: 'signal_button',
				});
			});

			$('#unblok_button').click(function () {
				$.ajax({
					type: 'post',
				  data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>
					}),
				  contentType: 'application/json; charset=utf-8',
				  url: 'unblok',
				}).done(function(data){
					if (data.res == 'ok')
					{
						location.reload();
					}
				});
			});
		</script>
	</body>
</html>
