<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/stylesheets/style_user.css' />
		<title>Profil user</title>
	</head>
	<body>
		<%if (blok_user == false) {%>
			<h2>Profil of <%= user.login %></h2>
			<div class=".information_user">
				<p>Nom: <%= user.nom %></p>
				<p>Prenom: <%= user.prenom %></p>
				<p>Email: <%= user.email %></p>
				<p>Sex: <%= user.sex %></p>
				<p>Age: <%= user.age %> ans</p>
				<p>Orientation sexuelle: <%= user.orientation %></p>
				<p>Interets: <%= user.interets %></p>
				<p>Description: <%= user.bio %></p>
			</div>
			<% if (user.accept == 1) { %>
			<div id="map" style="width:400px;height:400px">My map will go here</div>
			<% } else {%>
			<div class="">
				 <p><%= user.login %>, ne souhaite pas afficher sa localisation</p>
			</div>
			<% } %>
			<% if (is_like == false) {%>
				<div class="like">
					<a id="like_button" href="" >Je like <%= user.login %></a>
				</div>
			<% } else { %>
				<div class="dislike">
					<a id="dislike_button" href="" >Je dislike <%= user.login %></a>
				</div>
			<% } %>
			<div class="blok">
				<a id="blok_button" href="" >Je blok <%= user.login %></a>
			</div>
		<% } else {%>
			<h2>Profil of <%= user.login %></h2>
			<p><%= user.login %> est blok, si vous voulez acceder a ses informations il faut le deblok <a id="unblok_button" href="" >Je deblok <%= user.login %></a></p>
		<% } %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYV5V1wefNwQQ_5ukp4SLtcqmrUh2Kp48"></script>
		<script src="http://localhost:3003/socket.io/socket.io.js"></script>
		<script type="text/javascript">
		if (<%= user.accept %> && <%= blok_user %> == false){
		initMap();
		}
		var socket = io.connect('http://localhost:3003');
		function initMap() {
  			var myLatLng = {lat: <%= user.latitude %>, lng: <%= user.longitude %>};
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 12,
			    center: myLatLng
			  });

			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
		  }

			$.ajax({
				type: 'post',
				data: JSON.stringify({
					user: <%-JSON.stringify(user.login)%>
				}),
				contentType: 'application/json; charset=utf-8',
				url: 'add_view_profil',
			});



		  $('#like_button').click(function () {
				$.ajax({
	      	type: 'post',
	        data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>,
						like_autor: <%-JSON.stringify(me)%>
					}),
	        contentType: 'application/json; charset=utf-8',
	        url: 'like',
	       });
				 socket.emit('likeUser', {user_like: <%-JSON.stringify(user.login)%>, like_autor: <%-JSON.stringify(me)%>});
	     });

			 $('#dislike_button').click(function () {
 				$.ajax({
 	      	type: 'post',
 	        data: JSON.stringify({
 						user: <%-JSON.stringify(user.login)%>,
						dislike_autor: <%-JSON.stringify(me)%>
 					}),
 	        contentType: 'application/json; charset=utf-8',
 	        url: 'dislike',
 	       });
				 socket.emit('dislikeUser', {user_dislike: <%-JSON.stringify(user.login)%>, dislike_autor: <%-JSON.stringify(me)%>});
 	     });

			$('#blok_button').click(function () {
				$.ajax({
					type: 'post',
				  data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>
					}),
				  contentType: 'application/json; charset=utf-8',
				  url: 'blok',
				});
			});

			$('#unblok_button').click(function () {
				$.ajax({
					type: 'post',
				  data: JSON.stringify({
						user: <%-JSON.stringify(user.login)%>
					}),
				  contentType: 'application/json; charset=utf-8',
				  url: 'unblok',
				}).done(function(data){
					if (data.res == 'ok')
					{
						location.reload();
					}
				});
			});
		</script>
	</body>
</html>
